.logo-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  top: 0;
  right: 30px;
}
.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links ul li {
  display: inline-block;
  margin-left: 40px;
}
.nav-links ul li a {
    text-decoration: none;
    color: black;
}
@media (max-width: 768px) {
.logo {
  height: 60px;
  width: auto;
}

}