.App {
  text-align: center;
}
:root {
  /* colors */
  --main-bg-color: #FF6060;
  --filter-bg-color: #191c2002;
}
html, body{
  overflow-x: hidden;
}
body {
  width: 100%;
  padding: 10px 10px 10px 10px;
}
body {
  margin: 0%;
  padding: 0 10px;
  font-family: 'Raleway', sans-serif;
}
.header, .about-header, .CARDID-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav-links, .nav-links2 {
  position: absolute;
  top: 0;
  right: 30px;
  margin-top: 20px; 
}
.nav-links ul, .nav-links2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links ul li, .nav-links2 ul li {
  display: inline-block;
  margin-left: 40px; /* Espacement entre les liens */
}
.nav-links ul li:first-child {
  margin-left: 30px; /* Aucun espacement pour le premier lien */
}
.nav-links ul li a, .nav-links2 ul li a {
  text-decoration: none;
  color: black; /* Couleur du texte des liens */
}
.nav-link {
  color: black; /* Couleur du texte en noir */
  margin-right: 20px; /* Marge à droite de 5px */
  text-decoration: none;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px; 
  margin-left: 20px;
}
.conteneur {
  background-image: url('./Composants/images/Background.png');
  background-size: cover; /* Pour couvrir entièrement le conteneur */
  margin-top: 10%;
  background-position: center; /* Pour centrer l'image */
  position: relative; /* Pour positionner les éléments enfants par rapport à ce conteneur */
  color: white; /* Couleur du texte */
  text-align: center; /* Centrage horizontal du texte */
  margin-left: 5px;
  border-radius: 10px; 
}
.conteneur-about {
  background-image: url('./Composants/images/BackgroundAbout.png');
  background-size: cover; /* Pour couvrir entièrement le conteneur */
  margin-top: 10%;
  background-position: center; /* Pour centrer l'image */
  position: relative;
  border-radius: 10px;
}
.background-about {
  opacity: 0.7;
}
.background-title {
  position: absolute; /* Position absolue pour placer le texte au centre */
  top: 50%; /* Positionner le texte à 50% du haut du conteneur */
  left: 50%; /* Positionner le texte à 50% de la gauche du conteneur */
  transform: translate(-50%, -50%); /* Déplacer le texte de moitié de sa propre largeur et hauteur pour le centrer */
}
.Aboutcollapse {
  display: flex;
  flex-direction: column;
}
.Collapse_title {
    align-items: center;
    background: #ff6060;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    height: 40px;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.CONTAINER {
  display: flex;
  width: auto;
  margin: 3%;
  gap: 3%;
}
/* Styles pour l'icône vers le haut (ouvert) */
.Collapse_iconUp {
  transform: rotate(-180deg);
  transition: all .5s;
}
/* Styles pour l'icône vers le bas (fermé) */
.Collapse_iconDown {
  transform: rotate(0deg);
  transition: all .5s;
}
.collapseContainer {
  width: 80%;
  margin-left: 10%;
  }
.Collapse_text{
    background: #f7f7f7;
    border-radius: 5px;
    color: #ff6060;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
}
.card-list {
  background-color: #f7f7f7;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Cartes de largeur minimum de 300px, avec une fraction flexible de l'espace disponible */
  grid-gap: 50px; /* Espacement entre les cartes */
  justify-content: space-around;
  margin-top: 3%;
}
.card {
  width: calc(90.33% - 10px); /* Pour occuper 33.33% de largeur avec un espacement de 10px entre les éléments */
  margin-bottom: 20px; /* Espacement entre les lignes */
  margin-top: 5%;
  box-sizing: border-box; /* Pour inclure la largeur de la bordure dans le calcul */
  background-image: url('./Composants/images/bckgroundCardpng.png');
  color: aliceblue;
  border-radius: 10px;
}
a.card-link {
  text-decoration: none; 
  color: inherit; /* Utiliser la couleur de texte par défaut */
  display: flex;
}
.card img {
  width: 100%;
  height: auto; /* Pour conserver les proportions de l'image */
  border-radius: 10px;
}
.QuatrecentQuatre {
margin-top: 10%;
margin-bottom: 1%;
margin-left: 40%;
width: 250px;
}
.text {
  color: #FF6060;
  margin-left: 35%;
}
.return-link {
  color: black;
  margin-left: 40%;
}
.title-slides {
  color: #ff6060;
  font-weight: 500;
  line-height: 1.3;
}
.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
}
.tag {
  background-color: #ff6060;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #fff;
}
.rating {
  color: #ff6060;
  display: flex;
  justify-content: flex-end;
  margin-top: -5%;
  margin-right: 5%;
  height: 20px;
}
.location-slide {
  color: black;
}
.collapseContainercard {
  margin: 1%;
  width: 100%;
}
.slideshow-imgcontainer {
  height: 415px;
  width: 100%;
 }
 .Slideshow_imgSlide {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
 }
.slideshow-container img {
  height: 30%;
}
.arrows {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
  z-index: 3; /*les flèches sont affichées au-dessus des images */
}
.arrow-button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.arrow_left, .arrow_right {
  height: 40px;
  margin-bottom: 180px;
}
.arrow_left {
  margin-left: 20px;
}
.arrow_right {
  margin-right: 5px;
}
.CARDID-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.nav-links-CARDID {
  display: flex;
}
.slideshow-Slidecontainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}
.pictContainer {
  background: #c4c4c4;
  border-radius: 90%;
  }
.hostpic {
  border-radius: 90%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}
.host-slide {
  margin-top: -5%;
  margin-right: 5%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.hostname {
  color: #ff6060;
  display: flex;
  font-size: 18px;
  line-height: 1.3;
  padding-right: 10px;
  text-align: right;
}
.Slideshow_numbers {
  bottom: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 50%;
} 
.list-equipmnt {
  list-style: none;
}
.conteneur-footer {
  display: flex;
  justify-content: center;
  margin-left: 0%;
}
.nav-links-ul-CARDID {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  display: flex; 
}
.li-CARDID {
  margin-right: 20px; 
}
.nav-link {
  text-decoration: none; 
  color: black; 
}
.footernotfoud {
  position: fixed;
  bottom: 0%;
}
@media screen and (max-width: 1024px) {
  body {
    overflow: hidden; /* Hide vertical and horizontal scroll bars */
  }
  .card-list {
  grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Deux cartes par ligne pour les tablettes en mode paysage */
  margin-top: 8%;
  margin-left: 3%;
  margin-bottom: 25%; 
  }
  .nav-links ul li a, .nav-links2 {
    display: flex;
    font-size: 24px;
  }
  .conteneur {
    margin-top: 13%;
    width: 90%;
  }
  .footer-about {
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: center;
  }
  .Aboutcollapse {
    margin-top: 5%;
  }
  .conteneur .background {
     width: 105%;
     border-radius: 15px;
     margin-right: 5px;
  }
  .conteneur-about {
    margin-top: 15%;
  }
  .conteneur-about {
    width: 95%;
  }
  .background-about {
    width: 100%;
  }
  .conteneur-footer {
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .footercardid {
    position: fixed;
    display: flex;
    justify-content: center; 
    bottom: 0;
    left: 0;
    width: 100%;
 }
 .nav-links-ul-CARDID {
  font-size: 24px;
 }
  }
@media (max-width: 768px) {
  .card-list {
    display: flex;
    flex-direction: column; /* Aligner les cartes verticalement */
    justify-content: center; /* Centrer les cartes verticalement */
    align-items: center; /* Centrer les cartes horizontalement */
  }
  .card {
    width: 90%; 
    margin-bottom: 20px; 
  }
  .footer-about {
    position: relative;
    margin-top: 28%;
  }
  .footernotfoud {
    position: relative;
    margin-top: 75%;
  }
  
}